<h3>Editar Personaje</h3>
<div class="form-container">
    <img src="{{ character.image }}" class="card-img-top" alt="{{ character.name }}" />
    <form (ngSubmit)="saveEdit()">
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" [(ngModel)]="character.name" name="name" class="form-control" required />
        </div>
        <div class="form-group">
            <label>Estado:</label>
            <input type="text" [(ngModel)]="character.status" name="status" class="form-control" required />
        </div>
        <div class="form-group">
            <label>Especie:</label>
            <input type="text" [(ngModel)]="character.species" name="species" class="form-control" required />
        </div>
        <div class="form-group">
            <label>Género:</label>
            <input type="text" [(ngModel)]="character.gender" name="gender" class="form-control" required />
        </div>
        <div class="form-group">
            <label>Origen:</label>
            <input type="text" [(ngModel)]="character.origin" name="origin" class="form-control" required />
        </div>
        <div class="form-group">
            <label>Ubicación:</label>
            <input type="text" [(ngModel)]="character.location" name="location" class="form-control" required />
        </div>
        <div class="form-group">
            <label>Imagen:</label>
            <input type="text" [(ngModel)]="character.image" name="image" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>